@import "./config/variaveis.less";
@import './config/reset.less';

body{
    background: @CorDeFundo ;
    font-family: @FonteDoTexto;
    color: @CorDoTexto ;

    h1{
        font-family: @FonteDoTitulo ;
    }
}